<!--index.vtl-->
<h1>Startup Weekend Teams</h1>
<br>

#if ($teams)
  <h4>Existing Teams:</h4>
  <ul>
    #foreach ($team in $teams)
      <li>$team.getTeamName()</li>
    #end
  </ul>
#else
  <p>Your Team List Is Empty</p>
#end

<br>
<form action="/teams" method="post">
  <label for="teamDescription">Team Name</label>
  <input id="teamDescription" name="teamDescription" type="text">

  <button type="submit" class="btn btn-default">Add This Team</button>
</form>
<!--index.vtl-->
